@page "/counter"
@using Fanzoo.Kernel.Services;

@inject IContextAccessorService Context

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async void IncrementCount()
    {
        var meh = await Context.GetUserAsync();

        currentCount++;
    }
}
